name: qa-reference.aspose.com(cells)(Stage) (BunnyCDN)

on:
  push:
    branches: [ main ]
    paths:
      - 'content/sites/aspose/cells/**'

  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        configure_one_product:
          - cpp
          - go-cpp
          - java
          - net
          - nodejs-cpp
          - javascript-cpp

    steps:
      - name: Checkout main repository
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Checkout theme repository
        uses: actions/checkout@v2
        with:
          repository: Aspose/api-theme
          token: ${{ secrets.REPO_TOKEN }}
          fetch-depth: 0
          ref: imaging
          path: themes/api-theme

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.119.0'
          extended: true

      - name: Install Dependencies
        run: |
          npm install -D --save autoprefixer
          npm install -D --save postcss-cli

      - name: Configure build environment
        env:
          CONFIGURE_ONE_PRODUCT: ${{ matrix.configure_one_product }}
          CONFIGURE_FAMILY: 'cells'
        run: npm run configure

      - name: Display config.json
        run: cat ${{ github.workspace }}/config.json

      - name: Build
        run: hugo --configDir config/sites/aspose/cells --config "config.json" --environment staging --minify --cleanDestinationDir

      - name: Prepare the public folder
        run: |
          find ${{ github.workspace }}/public -iname 'sitemap.xml' -execdir mv -i '{}' ${{ matrix.configure_one_product }}.xml \;
          mv ${{ github.workspace }}/total.cells.sitemap public/sitemap.xml

      - name: Sync to Ceph S3
        run: |
          aws s3 sync ./public/ s3://qa-reference-aspose-com/cells/ \
            --endpoint-url https://s3-qa.dynabic.com \
            --acl public-read \
            --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CEPH_S3_QA_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CEPH_S3_QA_SECRET_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_ENDPOINT_URL: https://s3-admin-qa.dynabic.com

      - name: Purge BunnyCDN Cache
        run: |
          curl -siG \
            -H "X-Api-Key: ${{ secrets.BUNNY_API_KEY }}" \
            --data-urlencode "url=https://qa-reference.aspose.com/cells/${{ matrix.configure_one_product }}" \
            "https://api.dynabic.com/bn/purge?async=true"
